/* Header */

header{
    background-color: rgb(35, 154, 218);
    float:inline-start;
    padding: 1px;
    block-size: auto;
    
   
}


/* body configurations*/
h1 {
    color: blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* A classe identifica e especifica as caracteristicas dos sesu elementos*/
.supertitulo {
    font-size: 30px;
}
/* Ao usar o id torna-se ainda mais específico do que a classe */
#tituloinicialdotopo {
    font-style: italic;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#logo_pessoinhas {
    background-repeat: no-repeat;
    float: left;
    width: 20%;
}

.caixa{
    margin: 10px;
    padding: 20px;
    border: 4px solid rgb(136, 136, 220);
    width: fit-content;
    background-color: white;
    position: static;
    
 }     

.caixa02 {
    right: 50px;
    left: 170px;
    bottom: -28px;
}

.caixa03 {
    right: 50px;
    left: 335px;
    bottom: -28px;
}

.caixa04 {
    right: 50px;
    left: 500px;
    bottom: -28px;
}


.imagem{
    background: url("https://media.licdn.com/dms/image/C5612AQHOVqD5V_6n0g/article-cover_image-shrink_720_1280/0/1520122252500?e=1720656000&v=beta&t=UbHzlWtuXJOSkfW7sdkicRTsXVIZkUYkFNIP9r0soQ4") no-repeat;
    width: 400px;
    height: 400px;
    display: block;
    background-size: contain;
}

#roupas{
    width: 200px;
    height: 300px;
}

div.roupas_iamgens{
    width: 200px;
    display: inline-block;
}

/* Exemplo de pseudo classe  */
/* A imagem é um link  */
.imagem:hover{
    background-position: 0px 50px;
}

.imagem:active{
    background-position: 50px 50px;
}

.ListAlternada{
    list-style-type: disc;
    font-size: 80px;
    color: rgb(240, 226, 226);
    margin: 15px;
}

/* Item filho da lista que é o li  */
/* Odd quer dizer ímpar */
.ListAlternada li:nth-child(odd){
    background-color: rgb(183, 128, 128);
}

.ListAlternada li:nth-child(even){
    background-color: rgb(134, 113, 184);
}

.ListAlternada li:hover{
    font-weight: bolder;
}